<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather to Go There</title>
    <!-- D3 library source -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!-- Plotly source -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Leaflet source -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin="" />
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
</head>
<body>
    <!-- Our header section -->
    <div class="website_header">
        <h1 class="header1">Weather to Go There in the U.S.?</h1>
        <h2 class="header2">A brief look at 2022 weather in the U.S.</h2>
        <h4 class="header4">Select the weather aspect you want to review. Hover over the map to see specific values by weather station.
            <br>The Top Ten Stations chart will adapt based on the chosen weather select and the state you choose.
            <br>To dive into more detail by station, select the desired station.<br>
            <!-- Our primary dropdown for weather type -->
            <select id="selDataset">
                <option value="hottest">Hottest</option>
                <option value="coldest">Coldest</option>
                <option value="severity">Severity Rating</option>
            </select>
        </h4>
        
    </div>
    <!-- Our heatmap part -->
  
    <!-- Our top 10 chart part -->

    <!-- Our station table part -->

    <!-- Our Data -->
    <script src="./static/data/stations_all.js"></script>
    <script src="./static/data/state_station_hot.js"></script>
    <script src="./static/data/state_station_cold.js"></script>
    <!-- OUr JavaScript -->
    <script src="./static/js/logic.js"></script>
</body>
</html>
